---
import Context from "@astro-utils/context/Context.astro";
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

import { basics, work, education, projects, skills } from "cv-en.json";
const { name, label } = basics;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Context
  basics={basics}
  work={work}
  education={education}
  projects={projects}
  skills={skills}
>
  <Layout title={`${t("curriculum", name)} - ${label}`}>
    <main>
      <Hero />
      <About />
      <Experience />
      <Education />
      <Projects />
      <Skills />
    </main>
  </Layout>
</Context>

<style>
  main {
    padding: 3rem 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 44rem) {
    main {
      padding: 2rem;
    }
  }
</style>
