---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"

import { basics,work, education,projects,skills} from "cv-es.json"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
const { name, label } = basics

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout
  title={`${t('curriculum',name)} - ${label}`}
  basics={basics}
>
  <main>
    <Hero basics={basics}/>
    <About basics={basics}/>
    <Experience work={work}/>
    <Education education={education}/>
    <Projects projects={projects}/>
    <Skills skills={skills}/>
  </main>
</Layout>

<style>
  main {
    padding: 3rem 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 44rem) {
    main {
      padding: 2rem;
    }
  }
</style>
